# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/
*.iml

# iOS
ios/

# Linux
linux/

# macOS
macos/

# Windows
windows/

# Git
.git/
.gitignore

# IDEs
.idea/
.vscode/
